<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chandra.getconnected">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="com.google.android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="com.parse.starter.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.chandra.getconnected.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
            android:value="true" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="O4xbbD29coixsiPEmNdIFKlJT" />

        <activity android:name="com.twitter.sdk.android.core.identity.OAuthActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup"></activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"></activity>
        <activity
            android:name=".AlbumActivity"
            android:label="@string/title_activity_album"></activity>
        <activity
            android:name=".CreatePhotoWithAlbum"
            android:label="@string/title_activity_create_photo_with_album"></activity>
        <activity
            android:name=".AddPhotos"
            android:label="@string/title_activity_add_photos"></activity>
        <activity
            android:name=".ShowAlbum"
            android:label="@string/title_activity_show_album"></activity>
        <activity
            android:name=".PhotoView"
            android:label="@string/title_activity_photo_view"></activity>
        <activity
            android:name=".ProfileView"
            android:label="@string/title_activity_profile_view"></activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile"></activity>
        <activity
            android:name=".ChatMessageImage"
            android:label="@string/title_activity_chat_message_image"></activity>
        <activity
            android:name=".Chatting"
            android:label="@string/title_activity_chatting"></activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.example.chandra.getconnected" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
